*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* sup */
sup {
    position: relative;
    top: -5px;
    left: -10px;
    font-size: 80%;
}
.supInp{
    position: relative;
    left: 7px;
}
sub {
    position: relative;
    bottom: 0px;
    left: -8px;
    font-size: 80%;
}

.section{
    border: 1px solid black;
    width: 310px;
    height: 345px;
}
.flexbox{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}
label{
    font-size: 16px;
}
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 96px;
    height: 20px;
    border: 2px solid #c5c5c5;
    border-radius: 5px;
    line-height: 18px;
    font-size: 13px;
    padding:0 1px;
    background: #f3f3f3 url("photos/downarrowicon.png") no-repeat 110% 40%;
    background-size: 30px;
    cursor: pointer;
    transition: 200ms;
}
select:hover{
    border-color: #797979;
}
input[type='text']{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #808080;
    border-radius: 3px;
    height: 20px;
    width: 75px;
    line-height: 15px;
    font-size: 13px;
    transition: 350ms;
}
input[type='text']::placeholder{
    line-height: 15px;
    font-size: 15px;
    color: #c5c5c5;
}
input[type='text']:hover{
    border: 1px solid black;
    box-shadow: 0px 0px 0px 1px black inset;
}
button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    width: 47.1px;
    line-height: 13.3px;
    font-size: 13.3px;
    background-color: #eeeeee;
    border: 0.5px solid #8f8f8f;
    border-radius: 3px;
    cursor: pointer;
    transition: 100ms;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:0;
}
button:hover{
    background-color: #e7e7e7;
    border: 2px solid #6d6d6d;
}

.operatorSpan{
    font-size: 18px;
    line-height: 19px;
    height: 19px;
    margin: 0 5px;
}


/*section 1*/
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.equ{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.equ .prompt{
    display: flex;
}
